<div id="2" class="card, indent" style="width: 60rem; display: flex; ">
  <span style="width: 780px">
    <%=image_tag('images_list/formula.png', alt: "formula", class:"card-img-top",
      style:"width: 400px; height: 400px; display:inline-block;") %>
      <div class="card-body">
        <h5 class="card-title, stile_text">Formula</h5>
        <p class="card-text, stile_text">
        Given real numbers x and y. Solve the formula
        </p>
      </div>
  </span>
  <span style="width: 190px">
    <%= form_tag('/#2', method: 'get') do %>
        <%= label_tag :value_x, "Value x: "%>
      <%= text_field_tag :value_x, params[:value_x], required: true, class: "form-control",
        placeholder: "Value x"%>
      <%= label_tag :value_y, "Value y:"%>
      <%= text_field_tag :value_y, params[:value_y], required: true, class: "form-control",
        placeholder: "Value y"%>
      <%= submit_tag "Answer", class:"btn btn-primary", style: "margin-top: 20px" %>
    <% end %>
      <div style="margin-top: 30px">
        <p class="stile_text"> Answer: <%= @task2%></p>
      </div>
  </span>
</div>
</div>
