<div id="1" class="card, indent" style="width: 60rem; display: flex; ">
  <span>
      <img class="card-img-top" style="width: 400px; height: 400px; display:inline-block;"
         src="https://png2.kisspng.com/20180502/jze/kisspng-mathematics-number-sense-nonpositional-numeral-sys-mathematics-clipart-5aea3c50112ff8.1689120115253003040704.png"
         alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title, stile_text">Sum, difference, product</h5>
        <p class="card-text, stile_text">
          Hi, this method will help you find out the sum, difference and product of any two numbers.
        </p>
      </div>
  </span>
  <span>
    <%= form_tag('/', method: 'get') do %>
        <%= label_tag :first_number, "First number: "%>
        <%= text_field_tag :first_number, params[:first_number], required: true, class: "form-control",
          placeholder: "First number"%>
        <%= label_tag :second_number, "Second number:"%>
        <%= text_field_tag :second_number, params[:second_number], required: true, class: "form-control",
          placeholder: "Second number"%>
        <%= submit_tag "Answer", class:"btn btn-primary", style: "margin-top: 20px" %>
    <% end %>
      <div style="margin-top: 30px">
        <p class="stile_text"> Sum: <%= @answers[:sum] %></p>
        <p class="stile_text"> Difference:<%= @answers[:diff] %></p>
        <p class="stile_text"> Product: <%= @answers[:product] %></p>
      </div>
  </span>
</div>
</div>
